*{
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 40px;
    align-items: center;

}

main {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 100px;
}

.header__nav-list {
    display: flex;
    gap: 85px;
}


.nav-link {
    color: #333333;
}

.nav-link:hover {
    border-bottom: #333333 solid 1px;
}

.header__nav-item {
    font-size: 18px;
    font-weight: 600;
    list-style: none;
}

/* section-hero */

.section-hero__container {
    background-image: url('../image/low-angle-photo-of-balconies-2462015\ 1.jpg') ;
    height: 620px;
    width: 100%;
    padding: 40px 620px 60px 60px;

}


.section-hero__header {
    font-size: 70px;
    color: white;
    margin-bottom: 24px;
}

.section-hero__description {
    font-size: 24px;
    color: white;
    margin: 0;
    margin-bottom: 90px;
}

.button{
    font-size: 18px;
    line-height: 1;
    color: white ;
    background-color: #FF9900;
    padding: 18px 24px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    transition: 0.5s ease;
}

.button:hover {
    box-shadow: 0 0 5px block;
    background-color: #414141;
    color: white;
}

/* about-us */
.about-us {
    margin-top: 100px;
}

.container_header {
    font-size: 48px;
    color: #333333;
}

.about-us__description {
    max-width: 1235px;
    font-size: 16px;
    line-height: 32px;
}

.about-us__container-image {
background-image: url(../image/Rectangle\ 2.jpg);
width: 668px;
height: 580px;
position: relative;
}

.aboust-us__container-image-description {
    position: absolute;
    background-size: contain;
    background: rgba(0, 0, 0, 0.5);
    top: 409px;
    bottom: 0;
    left: 0;
    right: 0;
}


.aboust-us__container-image-description-text {
    max-width: 454px;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: white;
    margin: 30px 0 30px 30px
}

.about-us__item-btn {
        font-size: 20px;
        line-height: 1;
        color: white ;
        padding: 24px 36px;
        border: solid 2px #FF9900;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 600;
        transition: 0.5s ease;
        margin: 50px 50px 50px 0;
  }

  .about-us__item-btn:hover {
background-color: #FF9900;
color: white;
  }


.about-us__container-flex {
    margin-top: 50px;
    display: flex;

}
.about-us__container-content-box-first {
    margin-bottom: 52px;
}

.about-us__container-image {
    margin-right: 32px;
}

.about-us__container-content-box{
    display: flex;
    gap: 40px;
    border: solid 1px #cacaca;
    align-items: center center;
    padding: 30px 30px;

}

.about-us__container-content-box-description {
     max-width: 380px;

}  



.header-box {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
}
.aboust-us__container-image-description {
    display: flex;
    justify-content: space-between;
}




.box-description {
    font-size: 16px;
    color: #333333;

}

/* about-work */

.about-work {
    margin-top: 100px;
}
.about-work__nav {
    margin-top: 50px;
}

 .nav-link-active {
    color:#E1670E ;
 }

.about-work__list {
    max-width: 460px;
    display: flex;
    justify-content: space-between;
}

.about-work__item {
    font-size: 18px;
    color: #333333;
}

.about-work__box {
    margin-top: 50px;
    display: flex;
}


.about-work__content {
    margin-top: 0px;
    max-width: 558px;
    max-height: 460px;
    margin-right: 100px;
}

.about-work__list-btn {
    margin-top: 60px;
    display: flex;
}


.about-work__photo {
 margin-top: 30px;
}

.about-work__item-btn-link {
    margin-right: 20px;
}

.contract-btn {
        font-size: 20px;
        line-height: 1;
        color: #333333 ;
        background-color: white;
        padding: 18px 24px;
        border: solid 1px #333333;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 600;
        transition: background-color 1s ease;
}

.contract-btn:hover {
    background-color: #414141 ;
    color: white;
}

/* question */

.question {
margin-top: 100px;
}

.question__content-one {
    border-top: #333333 1px solid;
}

.question__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #333333;
    height: 110px;
}

.question__content-description {
    font-size: 24px;
    font-weight: 700;
}

/* footer */
.footer {
    margin-top: 100px;
}

.footer__container {
    background-color: #222;
}

.footer__left {
    margin-top: 50px;
    margin-bottom: 50px;
}


.footer__container {
    display: flex;
    justify-content: space-between;

}

.footer__right-content {
    max-width: 360px;

}

.footer__content {
    margin-top: 20px;
}


.footer__left-item {
  padding-top: 10px;
}

.footer__left-item-link {
    color: #cacaca;
    font-size: 18px;
}

.footer__left-item-link:hover {
    color: #FF9900;
}

.footer__social-icons {
    margin-top: 90px;
    display: flex;
    gap: 25px;
}


.footer__application-header {
    margin-top: 0;
    color: #cacaca;
}
.footer__survey {
    flex: 0 0 50%;
}


.sms__textarea {
    background-color: #414141;
    resize: none;
}


.footer__input {
    width: 570px;
    min-height: 60px;
    background-color: #414141;
    color: #cacaca;
    margin-bottom:15px ;
}
.footer__survey-item-sms {
    margin-top: 25px;
    height: 150px;
}

.placeholder {
color: #cacaca;
}

.footer__survey-btn{
    margin-top: 22px;
}

.footer__agree {
    color: #cacaca;
} 

.footer__right-content {
    max-height: 300px;
    min-width: 250px;
}


.footer__right-content-description {
    font-size: 16px;
    line-height: 16px;
    color: #cacaca;
    max-width: 250px;
}

/* checkbox */

.footer__real-checkbox {
width: 0;
height: 0;
opacity: 0;
position: absolute;
z-index: -1;
}

.footer__survey-checkbox {
    margin-left: 25px;
}

.customs-checkbox {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color:#222 ;
    border: 1px solid #cacaca ;
    margin-right: 4px;
    cursor: pointer;
}

.customs-checkbox::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image:url(../image/Rectangle\ 44.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 1px;
    transform: translate(-50% , -50%) scale(0)  ;
    transition: 0.2s ease-in;
}

.footer__real-checkbox:checked + .customs-checkbox::before {
    transform: translate(-50% , -50%) scale(1)
}
